/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
html, body{
  height: 100% !important;
  margin:0;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button:focus {
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}


*:focus {
  outline:none !important
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.datepicker-calendar-top{
  background-color: #6d6d6d !important;
}
.datepicker-calendar-container{
  background-color: #e4e4e4 !important;
}
.u-is-primary{
  background: #00bf70 !important;
  border-radius: 15px !important;
}
.u-is-secondary{
  background-color: #e4e4e4 !important;
  border-radius: 15px !important;
}
.day.selected{
  background: #6d6d6d !important;
  color: #ffffff !important;
}
.day:hover{
  background: #6d6d6d !important;
  color: #ffffff !important;
}
.month-title{
  color: #444444 !important;
}
.datepicker-buttons{
  display: none !important;
}
.datepicker-container{
  position: relative !important;
  display: initial !important;
}
.datepicker-input-container{
  position: relative !important;
  display: initial !important;
}
.datepicker-input{
  width: 89% !important;
  display: initial !important;
  border: none !important;
  font-size: 14px !important;
  color: #000000 !important;
  text-align: center !important;
  height: 26px !important;
  border-bottom: none !important;
  text-align: left !important;
  font-weight: 100 !important;
  font-family: 'Roboto', sans-serif !important;
}


.container-fluid-no-pd {
  margin-right: auto;
  margin-left: auto;
}

@media(max-width:450px){
  .datepicker-input{
    width: 86% !important;
    display: initial !important;
    border: none !important;
    font-size: 16px !important;
    color: #000000 !important;
    text-align: center !important;
    height: 26px !important;
    border-bottom: none !important;
    text-align: left !important;
    font-weight: 100 !important;
    font-family: 'Roboto', sans-serif !important;
  }

}
