<div class="container-fluid-no-pd mrg-btn-25">
  <div class="row">
    <div class="col-xs-3">
      <div>something</div>
    </div>
    <div class="col-xs-6 text-center">
      <div>ADD GAME</div>
    </div>
    <div class="col-xs-3 text-right">
      <div>Something</div>
    </div>
  </div>
</div>


<div class="container-fluid-no-pd">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <label class="standard-label-styles"> Winner </label>
      <select
        type="text"
        class="form-control standard-input-styles"
        [(ngModel)]="winner">
        <option value="" selected>Winner</option>
        <option *ngFor="let winner of allActiveUsers"value="{{winner['entity-id']}}">
          {{winner['fn']}} {{winner['ln']}}
        </option>
      </select>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <label class="standard-label-styles"> Loser </label>
      <select
        type="text"
        class="form-control standard-input-styles"
        [(ngModel)]="loser"
        (ngModelChange)="getAllTeamsAssociated(winner, loser )">
        <option value="" selected>LOSER</option>
        <option *ngFor="let loser of allActiveUsers" value="{{loser['entity-id']}}">
          {{loser['fn']}} {{loser['ln']}}
        </option>
      </select>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <label class="standard-label-styles"> Home Team </label>
      <select
        type="text"
        class="form-control standard-input-styles"
        [(ngModel)]="homeTeam">
        <option value="" selected>Home Team</option>
        <option *ngFor="let team of getAssociatedTeams" value="{{team['entity-id']}}">
          {{team['team-name']}} - {{team['team-state']}}, {{team['team-city']}}
        </option>
      </select>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <label for="date" class="standard-label-styles"> Date </label>
      <input
        type="text"
        id="date"
        placeholder="00/00/0000"
        [(ngModel)]="gameDate"
        class="form-control standard-input-styles">
    </div>

    <!--WINNER STATS -->

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
     <div>WINNER STATS</div>
    </div>

    <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
      <label for="winnerAtt" class="standard-label-styles"> Passing Attempts </label>
      <input
        type="text"
        id="winnerAtt"
        placeholder="number"
        [(ngModel)]="winnerAtt"
        class="form-control standard-input-styles">
    </div>

    <div class="col-xs-5 col-sm-4 col-md-3">
      <label for="comp" class="standard-label-styles"> Completions </label>
      <input
        type="text"
        id="comp"
        placeholder="number"
        [(ngModel)]="winnerComp"
        class="form-control standard-input-styles">
    </div>

    <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
      <label for="winnerYds" class="standard-label-styles"> Passing Yards </label>
      <input
        type="text"
        id="winnerYds"
        placeholder="number"
        [(ngModel)]="winnerYds"
        class="form-control standard-input-styles">
    </div>


    <div class="col-xs-5 col-sm-4 col-md-3">
      <label for="winnerTd" class="standard-label-styles"> TD </label>
      <input
        type="text"
        id="winnerTd"
        placeholder="number"
        [(ngModel)]="winnerTd"
        class="form-control standard-input-styles">
    </div>

    <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
      <label for="winnerInt" class="standard-label-styles"> INT </label>
      <input
        type="text"
        id="winnerInt"
        placeholder="number"
        [(ngModel)]="winnerInt"
        class="form-control standard-input-styles">
    </div>



    <div class="col-xs-12 text-center">
      <!--<button (click)="addUser({fn: fn, ln: ln, nickName: nickName, teamId: teamId})"> ADD QB </button>-->
    </div>

  </div>
</div>

