

<div class="container-fluid-no-pd">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row header-pd-all header-alg-center">

        <!--10 length-->
        <div class="col-xs-12">
          <div class="row header-alg-center">
            <div class="col-xs-3">
              <div class="width-logo-size">
                <img style="width: 100%" src="../../assets/sport.svg" alt="">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="">
                <div class="text-center">Leader Board</div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="">
                <div class="text-center">Players</div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="">
                <div class="text-center" >About</div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<div class="container-fluid-no-pd">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="image-container">

        <div>
          <img class="pic opc" style="width: 100%" src="../../assets/adrian-curiel-465986.jpg" alt="">
        </div>

      </div>
    </div>
  </div>

</div>


<!--<ul>-->
  <!--<li>-->
    <!--<div (click)="routeAllUserList()">PLAYERS</div>-->
    <!--<div (click)="routeAllUserList()">LEADER BOARD</div>-->
    <!--<div (click)="routeAllUserList()">ABOUT APP</div>-->
  <!--</li>-->
<!--</ul>-->
