
<div class="container-fluid-no-pd mrg-btn-25">
  <div class="row">
    <div class="col-xs-3">
      <div>something</div>
    </div>
    <div class="col-xs-6 text-center">
      <div>USER PROFILE</div>
    </div>
    <div class="col-xs-3 text-right">
      <div (click)="onAddGame()">ADD GAME</div>
    </div>
  </div>
</div>

<div class="container-fluid-no-pd">
  <div class="row">
    <div class="col-xs-3 text-center">
      <div>NAME</div>
    </div>
    <div class="col-xs-3 text-center">
      <div>GAMES</div>
    </div>
    <div class="col-xs-3 text-center">
      <div>STATUS</div>
    </div>
    <div class="col-xs-3 text-center">
      <div>RECORD</div>
    </div>
  </div>
</div>

<div class="container-fluid-no-pd">
  <div class="row">
    <div class="col-xs-3 text-center">
      <div>{{profileName}}</div>
    </div>
    <div class="col-xs-3 text-center">
      <div>GAMES</div>
    </div>
    <div class="col-xs-3 text-center">
      <div>{{profileStatus}}</div>
    </div>
    <div class="col-xs-3 text-center">
      <div>{{userData['wins']}} - {{userData['loses']}} </div>
    </div>
  </div>
</div>
